# WARNING: The `defaults` query must be explicitly spelled out or various
# plugins—e.g., `@babel/preset-env`—will not properly process the aggregate
# query.

> 1% or last 3 versions or last 10 Chrome versions or last 10 Firefox versions
