/***********************************************************************************************************************

	css/core-macro.css

	Copyright © 2013–2021 Thomas Michael Edwards <thomasmedwards@gmail.com>. All rights reserved.
	Use of this source code is governed by a BSD 2-clause "Simplified" License, which may be found in the LICENSE file.

***********************************************************************************************************************/

/*
	Default appearance styles.
*/
@keyframes cursor-blink {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

.macro-linkappend-insert,
.macro-linkprepend-insert,
.macro-linkreplace-insert,
.macro-append-insert,
.macro-prepend-insert,
.macro-replace-insert,
.macro-repeat-insert,
.macro-timed-insert {
	transition: opacity 400ms ease-in;
}
.macro-linkappend-in,
.macro-linkprepend-in,
.macro-linkreplace-in,
.macro-append-in,
.macro-prepend-in,
.macro-replace-in,
.macro-repeat-in,
.macro-timed-in {
	opacity: 0;
}

.macro-type-cursor:after {
	animation: cursor-blink 1s infinite;
	content: "\2590"; /* "\2588" */
	opacity: 1;
}
