/***********************************************************************************************************************

	css/core-display.css

	Copyright © 2013–2021 Thomas Michael Edwards <thomasmedwards@gmail.com>. All rights reserved.
	Use of this source code is governed by a BSD 2-clause "Simplified" License, which may be found in the LICENSE file.

***********************************************************************************************************************/

/*
	Default structural styles.
*/
#story {
	z-index: 10;
	margin: 2.5em;
}
@media screen and (max-width: 1136px) {
	#story {
		margin-right: 1.5em;
	}
}
#passages {
	max-width: 54em;
	margin: 0 auto;
}
