/***********************************************************************************************************************

	css/ui-debug.css

	Copyright © 2013–2021 Thomas Michael Edwards <thomasmedwards@gmail.com>. All rights reserved.
	Use of this source code is governed by a BSD 2-clause "Simplified" License, which may be found in the LICENSE file.

***********************************************************************************************************************/

/*
	Default debug bar styles.
*/
#debug-bar {
	background-color: #222;
	border-left: 1px solid #444;
	border-top: 1px solid #444;
	bottom: 0;
	margin: 0;
	max-height: 75%;
	/* max-width: 28em;
	min-width: 22em; */
	padding: 0.5em;
	position: fixed;
	right: 0;
	z-index: 99900;
}
#debug-bar > div:not([id]) + div {
	margin-top: 0.5em;
}
#debug-bar > div > label {
	margin-right: 0.5em;
}
#debug-bar > div > input[type="text"] {
	min-width: 0;
	width: 8em;
}
#debug-bar > div > select {
	width: 15em;
}

#debug-bar-toggle {
	color: #eee;
	background-color: #222;
	border: 1px solid #444;
	height: 101%; /* fallback for browsers without support for calc() */
	height: calc(100% + 1px);
	left: -2em; /* fallback for browsers without support for calc() */
	left: calc(-2em - 1px);
	position: absolute;
	top: -1px;
	width: 2em;
}
#debug-bar-toggle:hover {
	background-color: #333;
	border-color: #eee;
}

#debug-bar-hint {
	bottom: 0.175em;
	font-size: 4.5em;
	opacity: 0.33;
	pointer-events: none;
	position: fixed;
	right: 0.6em;
	user-select: none;
	white-space: nowrap;
}

#debug-bar-watch {
	background-color: #222;
	border-left: 1px solid #444;
	border-top: 1px solid #444;
	bottom: 102%; /* fallback for browsers without support for calc() */
	bottom: calc(100% + 1px);
	font-size: 0.9em;
	left: -1px;
	max-height: 650%; /* fallback for browsers without support for vh units */
	max-height: 65vh;
	position: absolute;
	overflow-x: hidden;
	overflow-y: scroll;
	right: 0;
	z-index: 99800;
}
#debug-bar-watch[hidden] {
	display: none;
}
#debug-bar-watch div {
	color: #999;
	font-style: italic;
	margin: 1em auto;
	text-align: center;
}
#debug-bar-watch table {
	width: 100%;
}
#debug-bar-watch tr:nth-child(2n) {
	background-color: rgba(127, 127, 127, 0.15);
}
#debug-bar-watch td {
	padding: 0.2em 0;
}
#debug-bar-watch td:first-child + td {
	padding: 0.2em 0.3em 0.2em 0.1em;
}
#debug-bar-watch .watch-delete {
	background-color: transparent;
	border: none;
	color: #c00;
}
#debug-bar-watch-all,
#debug-bar-watch-none {
	margin-left: 0.5em;
}
#debug-bar-watch-toggle,
#debug-bar-views-toggle {
	color: #eee;
	background-color: transparent;
	border: 1px solid #444;
	margin-right: 1em;
	padding: 0.4em;
}
#debug-bar-watch-toggle:hover,
#debug-bar-views-toggle:hover {
	background-color: #333;
	border-color: #eee;
}
#debug-bar-watch:not([hidden]) ~ div #debug-bar-watch-toggle,
html[data-debug-view] #debug-bar-views-toggle {
	background-color: #282;
	border-color: #4a4;
}
#debug-bar-watch:not([hidden]) ~ div #debug-bar-watch-toggle:hover,
html[data-debug-view] #debug-bar-views-toggle:hover {
	background-color: #4a4;
	border-color: #6c6;
}

#debug-bar-toggle:before,
#debug-bar-hint:after,
#debug-bar-watch .watch-delete:before,
#debug-bar-watch-add:before,
#debug-bar-watch-all:before,
#debug-bar-watch-none:before,
#debug-bar-watch-toggle:after,
#debug-bar-views-toggle:after {
	font-family: "tme-fa-icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	speak: none;
}
#debug-bar-toggle:before {
	content: "\e838";
}
#debug-bar-hint:after {
	content: "\e838\202f\e822";
}
#debug-bar-watch .watch-delete:before {
	content: "\e804";
}
#debug-bar-watch-add:before {
	content: "\e805";
}
#debug-bar-watch-all:before {
	content: "\e83a";
}
#debug-bar-watch-none:before {
	content: "\e827";
}
#debug-bar-watch-toggle:after,
#debug-bar-views-toggle:after {
	content: "\00a0\00a0\e830";
}
#debug-bar-watch:not([hidden]) ~ div #debug-bar-watch-toggle:after,
html[data-debug-view] #debug-bar-views-toggle:after {
	content: "\00a0\00a0\e831";
}


/*
	Default debug view styles.
*/
html[data-debug-view] .debug {
	padding: 0.25em;
	background-color: #234; /* #541, #151 */
}
html[data-debug-view] .debug[title] {
	cursor: help;
}
html[data-debug-view] .debug.block {
	display: inline-block;
	vertical-align: middle;
}
html[data-debug-view] .debug.invalid {
	text-decoration: line-through;
}
html[data-debug-view] .debug.hidden,
html[data-debug-view] .debug.hidden .debug {
	background-color: #555;
}
html:not([data-debug-view]) .debug.hidden {
	display: none;
}

html[data-debug-view] .debug[data-name][data-type]:before,
html[data-debug-view] .debug[data-name][data-type].nonvoid:after {
	background-color: rgba(0,0,0,0.25);
	font-family: monospace, monospace;
	white-space: pre;
}
html[data-debug-view] .debug[data-name][data-type]:before {
	content: attr(data-name);
}
html[data-debug-view] .debug[data-name][data-type|="macro"]:before {
	content: "<<" attr(data-name) ">>";
}
html[data-debug-view] .debug[data-name][data-type|="macro"].nonvoid:after {
	content: "<</" attr(data-name) ">>";
}
html[data-debug-view] .debug[data-name][data-type|="html"]:before {
	content: "<" attr(data-name) ">";
}
html[data-debug-view] .debug[data-name][data-type|="html"].nonvoid:after {
	content: "</" attr(data-name) ">";
}
html[data-debug-view] .debug[data-name][data-type]:not(:empty):before {
	margin-right: 0.25em;
}
html[data-debug-view] .debug[data-name][data-type].nonvoid:not(:empty):after {
	margin-left: 0.25em;
}
html[data-debug-view] .debug[data-name][data-type|="special"],
html[data-debug-view] .debug[data-name][data-type|="special"]:before {
	display: block;
}
