/***********************************************************************************************************************

	css/ui-dialog-saves.css

	Copyright © 2013–2023 Thomas Michael Edwards <thomasmedwards@gmail.com>. All rights reserved.
	Use of this source code is governed by a BSD 2-clause "Simplified" License, which may be found in the LICENSE file.

***********************************************************************************************************************/

/* Base styles. */
#ui-dialog-body.saves {
	/*
		NOTE: Older versions of Webkit/Blink need `1px` bottom padding
		or they'll trigger the scroll bar for some odd reason.
	*/
	padding: 0 0 1px;
}
#ui-dialog-body.saves > *:not(:first-child) {
	border-top: 1px solid #444;
}
#ui-dialog-body.saves > h2 {
	background-color: #222;
	font-size: inherit;
	margin: 0;
	padding: 0.1em 0 0.1em 0.4em;
}
#ui-dialog-body.saves table {
	border-spacing: 0;
	width: 100%;
}
#ui-dialog-body.saves tr:not(:first-child) {
	border-top: 1px solid #444;
}
#ui-dialog-body.saves td {
	padding: 0.33em;
}
#ui-dialog-body.saves td:first-child {
	/* min-width: 1.5em;
	text-align: center; */
	display: none !important;
}
#ui-dialog-body.saves td:nth-child(3) {
	line-height: 1.2;
	width: 100%;
}
#ui-dialog-body.saves td:last-child {
	text-align: right;
}
#ui-dialog-body.saves .empty {
	color: #999;
	speak: none;
	text-align: center;
	user-select: none;
}
#ui-dialog-body.saves .details {
	font-size: 75%;
	margin-left: 0.25em;
}
#ui-dialog-body.saves ul.buttons li {
	padding: 0.4em;
}
#ui-dialog-body.saves ul.buttons > li + li > button {
	margin-left: 0.2em;
}
#ui-dialog-body.saves ul.buttons.slots > li:last-child {
	/*
		NOTE: Using `position:absolute;right:0;` here can produce poor
		results, so we use `float:right;` instead.
	*/
	float: right;
}

/* Font icon styles. */
#ui-dialog-body.saves button[id="saves-export"]::before,
#ui-dialog-body.saves button[id="saves-import"]::before,
#ui-dialog-body.saves button[id="saves-clear"]::before {
	@mixin tme-fa-icons-properties;
}
#ui-dialog-body.saves button[id="saves-export"]::before {
	content: "\e829\00a0";
}
#ui-dialog-body.saves button[id="saves-import"]::before {
	content: "\e82a\00a0";
}
#ui-dialog-body.saves button[id="saves-clear"]::before {
	content: "\e827\00a0";
}
#ui-dialog-body.settings button[id|="setting-control"]::after {
	content: "\00a0\00a0\e830";
}
